.carousel-container {
    display: flex;
    animation: scroll 20s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .carousel-container:hover .PolaroidCard {
    animation-play-state: paused;
  }
  
  .PolaroidCard:hover {
    transform: scale(1.1);
  }