*{
    cursor: none;
}

.cursor{
    background-color: #f3994c;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 10;
    left: 20;
    z-index: 50;
    pointer-events: none;
}