@tailwind base;
@tailwind components;
@tailwind utilities;

  /* .gradient-bg {
    background: radial-gradient(circle, rgba(255,0,0,0.7) 0%, rgba(255,255,255,0) 30%);
    background-position: 60%;
} */

.grainy {
    --dot-bg: #f1f1ea;
    --dot-color: #a0a0a0;
    --dot-size: 1px;
    --dot-space: 3px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
  }

.gradient-bg {
    background: radial-gradient(circle, rgba(255,0,0,0.8) 0%, rgba(255,255,255,0) 30%, rgba(243,153,76,0) 30%);
    left: 300px;
    background-size: cover;
  }

  @keyframes wobble1 {
    0%, 100% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(15deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    45% {
      transform: rotate(5deg);
    }
    60% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(10deg);
    }
    90% {
      transform: rotate(-15deg);
    }
  }
  
  @keyframes wobble2 {
    0%, 100% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(-15deg);
    }
    30% {
      transform: rotate(10deg);
    }
    45% {
      transform: rotate(-5deg);
    }
    60% {
      transform: rotate(5deg);
    }
    75% {
      transform: rotate(-10deg);
    }
    90% {
      transform: rotate(15deg);
    }
  }
  
  .wobble1 {
    animation: wobble1 4s ease-in-out infinite;
    transform-origin: 110px 60px;
  }
  
  .wobble2 {
    animation: wobble2 6s ease-in-out infinite;
    transform-origin: 110px 60px;
  }
 

  /* .carousel-container {
    display: flex;
    animation: scroll 30s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
   */

/* File path: src/components/Whatwedo.css */

/* .carousel-container {
  display: flex;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel-container:hover .PolaroidCard {
  animation-play-state: paused;
}

.PolaroidCard:hover {
  transform: scale(1.1);
} */